* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", "Merriweather", "Playfair Display", "Yellowtail";
}

body::-webkit-scrollbar {
    width: 0rem;
}

body::-webkit-scrollbar-track {
    background: #ffc107;
}

.frontOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.frontpage {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frontContent {
    margin: 0;
    padding: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    background-color: transparent;
    border-radius: 2.5%;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
}

button:hover {
    transition: ease-in-out 0.4s;
    background-color: #ffc107;
    cursor: pointer;
    color: black;
}
